.idea/
target/
*.iml
*.ipr
*.iws
rdfa-scaffold.iml
rdfa-scaffold.ipr
rdfa-scaffold.iws
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/target/
/.mvn/
/.idea/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/.DS_Store
.DS_Store
